.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}
.image {
    width: 100%;
    border-radius: 50%;
}
    
.badge {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;

}
